<div class="container">

  <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">

    <fieldset>
      <h1>Registration Form</h1>

      <p class="field field-icon">
        <label for="username"><span><i class="fas fa-user"></i></span></label>
        <input type="text" name="username" id="username" class="error" placeholder="Mark Ulrich" ngModel
               #username="ngModel" required pattern="[A-Z][a-z]*( [A-Z][a-z]*)">
      </p>
      <!-- if error -->
      <p class="error" *ngIf="username.invalid && (username.dirty || username.touched)">Full name is invalid</p>
      <!-- end if error -->

      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input type="text" name="email" id="email" placeholder="marк@gmial.com" ngModel #email="ngModel" required email>
      </p>

      <!-- if error -->
      <p class="error" *ngIf="email.invalid && (email.dirty || email.touched)">Email is invalid</p>
      <!-- end if error -->

      <p class="field field-icon">
        <label for="tel"><span><i class="fas fa-phone"></i></span></label>
        <select name="tel" id="tel" class="tel" [(ngModel)]="selectedCountryCodes">
          <option *ngFor="let countryCode of countryCodes" [value]="countryCode">{{ countryCode }}</option>
        </select>
        <input type="text" name="phone" id="phone" placeholder="888 888" ngModel #phone="ngModel" required
               pattern="^\d{9}$">
      </p>

      <!-- if error -->
      <p class="error" *ngIf="phone.invalid && (phone.dirty || phone.touched)">Phone is invalid</p>
      <!-- end if error -->

      <p class="field field-icon">
        <label for="profession"><span><i class="fas fa-building"></i></span></label>
        <select name="profession" id="profession" class="building" [(ngModel)]="selectedProfession">
          <option *ngFor="let profession of professions" [value]="profession">{{ profession }}</option>
        </select>
      </p>

      <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup">

        <p class="field field-icon">
          <label for="password"><span><i class="fas fa-lock"></i></span></label>
          <input type="password" name="password" id="password" placeholder="******" ngModel #password="ngModel" required
                 pattern="[a-zA-Z0-9]{3,16}" autocomplete="off">
        </p>

        <p class="error" *ngIf="password.invalid && (password.dirty || password.touched)">Password invalid.</p>

        <p class="field field-icon">
          <label for="repassword"><span><i class="fas fa-lock"></i></span></label>
          <input type="password" name="repassword" id="repassword" placeholder="******" ngModel #repassword="ngModel"
                 required autocomplete="off">
        </p>

      </div>

      <p class="error"
         *ngIf="repassword.control.value!==password.control.value && (repassword.control.dirty || repassword.control.touched)">
        Passwords do not match.</p>

      <p>
        <button type="submit" [disabled]="registrationForm.invalid">Create Account</button>
      </p>

      <p class="text-center">
        Have an account?
        <a href="">Log In</a>
      </p>

    </fieldset>
  </form>
</div>
